<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UniverCity</title>
    </head>
    <body>
    	<fieldset>
    	<legend>View University Info:</legend>
    	<form action="/university" method="POST">
			<select name="university">
				{% for university in uni_list %}
				<option value="{{university}}"> {{ university }}</option>
				{% endfor%}
			</select>
			<input type="submit" value="Get University Info">
		</form>
		</fieldset>

		<fieldset>
		<legend>Search For University:</legend>
		<form action="/results" method="POST">
			<select name="City">
				{% for city in city_list %}
				<option value={{ city }}> {{ city }}</option>
				{% endfor%} 
			</select>

			<select name="State">
				{% for state in state_list %}
				<option value={{ state }}> {{ state }}</option>
				{% endfor%}
			</select>

			<select name="Region">
				{% for region in region_list %}
				<option value={{ region }}> {{ region }}</option>
				{% endfor%} 
			</select>

			<select name="Safety Score">
				{% for score in scores %}
				<option value={{ score }}> {{ score }}</option>
				{% endfor%} 
			</select>
			<input type="submit" value="Find Universities!">
		</fieldset>
		</form>
    </body>
</html>